In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
test_h = pd.read_csv('UML/flagTestHam.csv', index_col= 0)
train_h = pd.read_csv('UML/flagTrainHam.csv',index_col= 0)
test_s = pd.read_csv('UML/flagTestSPAM.csv', index_col = 0)
train_s = pd.read_csv('UML/flagTrainSPAM.csv',index_col= 0)

In [14]:
test_s

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V31,V32,V33,V34,V35,V36,V37,V38,V39,V40
1,1,1,1,1,1,0,1,0,1,0,...,0,1,1,1,0,1,0,1,0,1
2,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,1,1
3,0,1,0,0,0,1,0,1,0,0,...,0,1,0,1,0,1,0,1,1,1
4,0,0,0,1,0,0,0,0,1,0,...,1,0,1,1,0,1,0,1,0,1
5,0,0,1,0,0,0,1,0,0,0,...,0,0,1,1,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,0,1,0,1,0,1,1,0,0,0,...,0,1,1,1,1,1,1,0,0,0
997,0,1,1,0,1,0,0,0,1,0,...,0,0,1,1,1,1,1,0,0,1
998,1,1,0,0,1,0,1,1,1,0,...,1,0,1,1,0,0,1,0,0,1
999,1,0,1,0,1,0,1,1,1,0,...,1,1,0,1,1,1,1,1,1,1
1000,1,0,1,1,1,0,1,0,1,0,...,1,0,0,1,0,1,0,0,1,1

(b)

In [15]:
train_s.sum(axis = 0)

V1     11
V2     12
V3      7
V4     10
V5     12
V6      2
V7      4
V8      9
V9      9
V10     0
V11     9
V12    10
V13     6
V14    13
V15    12
V16     4
V17     7
V18    16
V19     3
V20    14
V21    15
V22    13
V23    13
V24    13
V25     7
V26    13
V27     4
V28     3
V29    11
V30     9
V31     5
V32    10
V33     8
V34    15
V35     5
V36    16
V37     9
V38    11
V39    17
V40    18
dtype: int64

In [16]:
train_h.sum(axis = 0)

V1     12
V2      9
V3      0
V4     14
V5     10
V6     15
V7     12
V8     10
V9      4
V10     6
V11    14
V12    15
V13     9
V14    10
V15     2
V16     8
V17    13
V18    13
V19    16
V20     9
V21    16
V22    17
V23    17
V24     9
V25    11
V26    10
V27    13
V28     9
V29     6
V30    11
V31     3
V32    12
V33     5
V34    12
V35    11
V36     5
V37     4
V38     8
V39    19
V40    10
dtype: int64

In [17]:
test_s.sum(axis = 0)

V1     536
V2     444
V3     454
V4     340
V5     504
V6     219
V7     290
V8     460
V9     559
V10     38
V11    567
V12    324
V13    366
V14    730
V15    833
V16    227
V17    553
V18    775
V19    194
V20    732
V21    564
V22    493
V23    563
V24    659
V25    282
V26    442
V27    263
V28    134
V29    537
V30    501
V31    220
V32    511
V33    422
V34    866
V35    307
V36    889
V37    546
V38    579
V39    487
V40    870
dtype: int64

In [18]:
test_h.sum(axis = 0)

V1     690
V2     541
V3     134
V4     688
V5     426
V6     694
V7     600
V8     552
V9     182
V10    287
V11    700
V12    508
V13    431
V14    494
V15    183
V16    486
V17    720
V18    563
V19    838
V20    485
V21    694
V22    657
V23    858
V24    299
V25    558
V26    606
V27    663
V28    426
V29    418
V30    375
V31    198
V32    345
V33    184
V34    542
V35    612
V36    414
V37    153
V38    503
V39    941
V40    557
dtype: int64

(c)

In [21]:
# define likelihood function
def MLERegression(params):
    intercept, beta, sd = params[0], params[1], params[2] 
    yhat = intercept + beta*x # predictions

    negLL = -np.sum( stats.norm.logpdf(y, loc=yhat, scale=sd) )

    return(negLL)

In [20]:
from scipy.optimize import minimize